<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ies</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">java</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="Mapping/Person.hbm.xml"/>
    <mapping resource="Mapping/Desiredskills.hbm.xml"/>
    <mapping resource="Mapping/Requiedqualification.hbm.xml"/>
    <mapping resource="Mapping/Jobopeningdetails.hbm.xml"/>
    <mapping resource="Mapping/Round.hbm.xml"/>
    <mapping resource="Mapping/Requireddocuments.hbm.xml"/>
    <mapping resource="Mapping/Branch.hbm.xml"/>
    <mapping resource="Mapping/Organization.hbm.xml"/>
    <mapping resource="Mapping/Contactbranch.hbm.xml"/>
    <mapping resource="Mapping/Result.hbm.xml"/>
    <mapping resource="Mapping/Languageknown.hbm.xml"/>
    <mapping resource="Mapping/Acdemicdetails.hbm.xml"/>
    <mapping resource="Mapping/Workexperience.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
